<%- include('partials/header.ejs') %>
        <h1> Earth!</h1>
        <p> Earth is the planet we live on. 
        It is the third planet from the Sun. 
        It is the only planet known to have life on it. 
        The Earth formed around 4.5 billion years ago.
        It is one of four rocky planets on the inside of the Solar System. 
        The other three are Mercury, Venus, and Mars.</p>
        
        <img src="/img/solar_system.jpg" alt="The Solar System" />
        
<%- include('partials/footer.ejs') %>   