<%- include('partials/header.ejs') %>
        
        <h1> Venus!</h1>
        <p> Venus is the second planet from the sun.
        It has a day longer than a year. 
        The year length of Venus is 225 Earth days. 
        The day length of Venus is 243 Earth days. 
        It is a terrestrial planet because it has a solid, rocky surface like other planets in the inner solar system. 
        Astronomers have known Venus for thousands of years. 
        The ancient Romans named it after their goddess Venus. 
        Venus is the brightest thing in the night sky except for the Moon. 
        It is sometimes called the morning star or the evening star as at some elongations it is easily seen just before the sun comes up in the morning and, at other times, just after the sun goes down in the evening. 
        Venus comes closer to the Earth than any other planet does.</p>
        
        <img src="/img/solar_system.jpg" alt="The Solar System" />
        
<%- include('partials/footer.ejs') %>   